.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6); // Чуть более тёмное затемнение фона
  z-index: 1000; // Увеличил z-index для надежности
}

.content {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Более мягкая тень
  padding: 25px;
  position: relative;
  max-width: 90vw; // Ограничиваем максимальную ширину на больших экранах
  max-height: 90vh; // Ограничиваем высоту для правильной адаптивности
  width: auto; // Автоматическая ширина под контент
  height: auto; // Автоматическая высота под контент
  overflow-y: auto; // Если контент превышает высоту, добавим прокрутку
}

.close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 768px) {
  .content {
    max-width: 95vw;
    max-height: 90vh;
    padding: 20px;
  }
}
