* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layoutWrapper {
  display: flex;
  justify-content: space-between;

  .sidebar {
    width: 244px;
  }

  .content {
    width: 100%;

  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: #FE5F00;
}

.rowProducts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}